In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv("AB_NYC_2019.csv")
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
id                                48895 non-null int64
name                              48879 non-null object
host_id                           48895 non-null int64
host_name                         48874 non-null object
neighbourhood_group               48895 non-null object
neighbourhood                     48895 non-null object
latitude                          48895 non-null float64
longitude                         48895 non-null float64
room_type                         48895 non-null object
price                             48895 non-null int64
minimum_nights                    48895 non-null int64
number_of_reviews                 48895 non-null int64
last_review                       38843 non-null object
reviews_per_month                 38843 non-null float64
calculated_host_listings_count    48895 non-null int64
availability_365                  48895 non-null int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [5]:
cnames = list(data.columns)
cnames

['id',
 'name',
 'host_id',
 'host_name',
 'neighbourhood_group',
 'neighbourhood',
 'latitude',
 'longitude',
 'room_type',
 'price',
 'minimum_nights',
 'number_of_reviews',
 'last_review',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365']

In [6]:
int_c=[]
float_c =[]
object_c =[]
for i in cnames:
    if data[i].dtype == "int64":
        int_c.append(i)
    if data[i].dtype == "float64":
        float_c.append(i)
    if data[i].dtype == "object":
        object_c.append(i)

In [7]:
print(int_c,float_c,object_c)

['id', 'host_id', 'price', 'minimum_nights', 'number_of_reviews', 'calculated_host_listings_count', 'availability_365'] ['latitude', 'longitude', 'reviews_per_month'] ['name', 'host_name', 'neighbourhood_group', 'neighbourhood', 'room_type', 'last_review']

In [8]:
missing_values = pd.DataFrame(data.isnull().sum())
missing_values = missing_values.reset_index()
missing_values = missing_values.rename(columns = {"index":"variable",0:"percentage"})
missing_values["percentage"] = missing_values["percentage"]/len(data)/100

In [9]:
missing_values

                          variable  percentage
0                               id    0.000000
1                             name    0.000003
2                          host_id    0.000000
3                        host_name    0.000004
4              neighbourhood_group    0.000000
5                    neighbourhood    0.000000
6                         latitude    0.000000
7                        longitude    0.000000
8                        room_type    0.000000
9                            price    0.000000
10                  minimum_nights    0.000000
11               number_of_reviews    0.000000
12                     last_review    0.002056
13               reviews_per_month    0.002056
14  calculated_host_listings_count    0.000000
15                availability_365    0.000000

In [10]:
for i in cnames:
    if data[i].dtype == "int64":
        data[i]  = data[i].fillna(data[i].mean())
    if data[i].dtype == "float64":
        data[i]  = data[i].fillna(data[i].mean())
    if data[i].dtype == "object":
        data[i]  = data[i].fillna(data[i].mode())

In [11]:
missing_values = pd.DataFrame(data.isnull().sum())
missing_values = missing_values.reset_index()
missing_values = missing_values.rename(columns = {"index":"variable",0:"percentage"})
missing_values["percentage"] = missing_values["percentage"]/len(data)/100

In [12]:
missing_values

                          variable  percentage
0                               id    0.000000
1                             name    0.000003
2                          host_id    0.000000
3                        host_name    0.000004
4              neighbourhood_group    0.000000
5                    neighbourhood    0.000000
6                         latitude    0.000000
7                        longitude    0.000000
8                        room_type    0.000000
9                            price    0.000000
10                  minimum_nights    0.000000
11               number_of_reviews    0.000000
12                     last_review    0.002056
13               reviews_per_month    0.000000
14  calculated_host_listings_count    0.000000
15                availability_365    0.000000

In [17]:
data = data.fillna(data.mode())

In [18]:
data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.210000,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.380000,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,1.373221,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.640000,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.100000,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,1.373221,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,1.373221,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,1.373221,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,1.373221,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,1.373221,1,23

0            2539
1            2595
2            3647
3            3831
4            5022
           ...
48890    36484665
48891    36485057
48892    36485431
48893    36485609
48894    36487245
Name: id, Length: 48895, dtype: int64
0                       Clean & quiet apt home by the park
1                                    Skylit Midtown Castle
2                      THE VILLAGE OF HARLEM....NEW YORK !
3                          Cozy Entire Floor of Brownstone
4         Entire Apt: Spacious Studio/Loft by central park
                               ...
48890      Charming one bedroom - newly renovated rowhouse
48891        Affordable room in Bushwick/East Williamsburg
48892              Sunny Studio at Historical Neighborhood
48893                 43rd St. Time Square-cozy single bed
48894    Trendy duplex in the very heart of Hell's Kitchen
Name: name, Length: 48895, dtype: object
0            2787
1            2845
2            4632
3            4869
4            7192
           ...
48890     8232441
48891     6570630
48892    23492952
48893    30985759
48894    68119814
Name: host_id, Length: 48895, dtype: int64
0                 John
1             Jennifer
2            Elisabeth
3          LisaRoxanne
4                Laura
             ...
48890          Sabrina
48891          Marisol
48892    Ilgar & Aysel
48893              Taz
48894       Christophe
Name: host_name, Length: 48895, dtype: object
0         Brooklyn
1        Manhattan
2        Manhattan
3         Brooklyn
4        Manhattan
           ...
48890     Brooklyn
48891     Brooklyn
48892    Manhattan
48893    Manhattan
48894    Manhattan
Name: neighbourhood_group, Length: 48895, dtype: object
0                Kensington
1                   Midtown
2                    Harlem
3              Clinton Hill
4               East Harlem
                ...
48890    Bedford-Stuyvesant
48891              Bushwick
48892                Harlem
48893        Hell's Kitchen
48894        Hell's Kitchen
Name: neighbourhood, Length: 48895, dtype: object
0        40.64749
1        40.75362
2        40.80902
3        40.68514
4        40.79851
           ...
48890    40.67853
48891    40.70184
48892    40.81475
48893    40.75751
48894    40.76404
Name: latitude, Length: 48895, dtype: float64
0       -73.97237
1       -73.98377
2       -73.94190
3       -73.95976
4       -73.94399
           ...
48890   -73.94995
48891   -73.93317
48892   -73.94867
48893   -73.99112
48894   -73.98933
Name: longitude, Length: 48895, dtype: float64
0           Private room
1        Entire home/apt
2           Private room
3        Entire home/apt
4        Entire home/apt
              ...
48890       Private room
48891       Private room
48892    Entire home/apt
48893        Shared room
48894       Private room
Name: room_type, Length: 48895, dtype: object
0        149
1        225
2        150
3         89
4         80
        ...
48890     70
48891     40
48892    115
48893     55
48894     90
Name: price, Length: 48895, dtype: int64
0         1
1         1
2         3
3         1
4        10
         ..
48890     2
48891     4
48892    10
48893     1
48894     7
Name: minimum_nights, Length: 48895, dtype: int64
0          9
1         45
2          0
3        270
4          9
        ...
48890      0
48891      0
48892      0
48893      0
48894      0
Name: number_of_reviews, Length: 48895, dtype: int64
0        2018-10-19
1        2019-05-21
2               NaN
3        2019-07-05
4        2018-11-19
            ...
48890           NaN
48891           NaN
48892           NaN
48893           NaN
48894           NaN
Name: last_review, Length: 48895, dtype: object
0        0.210000
1        0.380000
2        1.373221
3        4.640000
4        0.100000
           ...
48890    1.373221
48891    1.373221
48892    1.373221
48893    1.373221
48894    1.373221
Name: reviews_per_month, Length: 48895, dtype: float64
0        6
1        2
2        1
3        1
4        1
        ..
48890    2
48891    2
48892    1
48893    6
48894    1
Name: calculated_host_listings_count, Length: 48895, dtype: int64
0        365
1        355
2        365
3        194
4          0
        ...
48890      9
48891     36
48892     27
48893      2
48894     23
Name: availability_365, Length: 48895, dtype: int64